#Pet
  ul
    li 
      span#lngPetName
    li
      span#lngPetAge
    li
      span#lngPetGender
  
  form
    input(type='file' name='photo')
    button upload
  
  //- canvas#uploader(width='600' height='600')
  span      
  img#targetimg