//- Slider
section
  #logo
  em#lngSplashSlogan
  input(type='text' value='' placeholder='')
  span#lngSplashLoginWithFacebook 
  button facebook
  button#lngSplashLoginStart
  

//- Popular o recent pets in adoption
section
  

  
  
  
      