
//- config hidden
#behind

#over

  //- Header
  header
    nav
      ul
        
        li
          a(href!='#')
            span#lngSplashNavMain
                    
        li
          a(href!='#')
            span#lngSplashNavExplore
        
        li
          a(href!='#')
            span#lngSplashNavAmazcota

        li
          a(href!='#')
            span#lngSplashNavLogin
            
        li
          a(href!='#')
            span#lngSplashNavSearch
  
  
  //- Slider
  section
    #logo
    em#lngSplashSlogan
    input(type='text' value='' placeholder='')
    span#lngSplashLoginWithFacebook 
    button facebook
    button#lngSplashLoginStart
    
  
  //- Popular o recent pets in adoption
  section
      
  
  
  
      