//- Slider

//- //player.vimeo.com/video/33219961?autoplay=1&amp;loop=1
//- 10691835 // dogs
//- 33219961 // dogs in cars
//- iframe(src='//player.vimeo.com/video/10691835?autoplay=1&amp;loop=1' width='500' height='281' 
//-        frameborder='0' webkitallowfullscreen mozallowfullscreen allowfullscreen>)

//-canvas#video(width='1024' height='700')
//-img#mjpg(src='http://root:chinitossucks@172.19.0.202/mjpg/video.mjpg')

section

  div#logo
  
  form
    em#lngSplashSlogan
    input#lngSplashLoginEmail(type='text' value='' placeholder='Your Email')
    button#lngSplashLoginStart
    span#lngSplashLoginWithFacebook 
    button facebook

  

//- Popular o recent pets in adoption
section
  h2#lngSplahPopularAdoption Adoption
  section
  button.lngUtlViewMore Ver m치s
  
//- Lost
section
  h2#lngSplahLost Lost
  section
  button.lngUtlViewMore Ver m치s
  
//- Ads  
aside#ads
  h2#lngUtlAdTime Tiempo de Publicidad
  span#lngUtlAdExcuse Este sitio se mantiene gracias a la publicidad si deseas contribuir puedes visitar cualquiera de los anuncios mostrados acontinuaci칩n mil gracias!! 
    a(href='#').lngUtlAboutUs M치s Acerca de nosotros
  section  
    article
      img(src='img/adsense1.jpg')
    article
      img(src='img/adsense2.jpg')
    article
      img(src='img/adsense3.jpg')
    

  